.polygon-btn {
    width: 0;
    height: 0;
    box-sizing: border-box;
    font: bold 18px 'Lucida Console', Monaco, monospace;
}

.download-btn {
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    font-size: 20px;
}

html, body, #map {
    width: 100%;
    height: 100%;
}